{{#> page}}
    <div class="jw-tree-node jw-element jw-image-text jw-node-is-first-child">
        <div class="jw-element-imagetext-text">
            <p><span style="color: #202020;"><em>Spreken deze beelden U aan?</em></span></p>
            <p><span style="color: #202020;"><em>Dan kunt U zich tot mij richten via </em><a
                    href="mailto:theoaktells@gmail.com" style="color: #202020;"><em>theoaktells@gmail.com</em></a><em>. In overleg met U kan ik voor u een uniek beeld maken:</em></span>
            </p>
            <ul>
                <li><span style="color: #202020;"><em>Een beeld dat past in Uw tuin.</em></span></li>
                <li><span style="color: #202020;"><em>Uw herinnering uitgedrukt in een beeld,</em></span></li>
                <li><span
                        style="color: #202020;"><em>Een beeld waarin u evt. de as van uw dierbare kunt bewaren.</em></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="jw-tree-node jw-element jw-accordion">
        <div class="jw-element-accordion jw-element-accordion--style-border jw-element-accordion--align-icon-right jw-element-accordion--single-open">
            <div class="jw-element-accordion__heading jw-element-accordion__heading--icon-triangle">
                <h3>Reacties</h3>
            </div>
            <div class="jw-element-accordion__content">
                <div class="jw-element-accordion__content-wrap">
                    {{#each comments}}
                        <p><strong>{{from}}</strong></p>
                        <p>{{breaklines text}}</p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/page}}
