---
import {getCollection} from 'astro:content'
import ContactLayout from '../layouts/ContactLayout.astro'

const comments = await getCollection('commentsNl')
---

<ContactLayout title="Contact"
               description="In overleg met U kan ik voor u een uniek beeld maken."
               comments={comments}
               commentsHeader="Comments">
    <p class="pb-1 italic">Spreken deze beelden U aan?</p>
    <p class="pb-1 italic">Dan kunt U zich tot mij richten via <a class="hover:underline"
                                                                  href="mailto:theoaktells@gmail.com">
        theoaktells@gmail.com</a>. In overleg met U kan ik voor u een uniek beeld maken:</p>
    <ul class="list-disc italic ml-6">
        <li>Een beeld dat past in Uw tuin</li>
        <li>Uw herinnering uitgedrukt in een beeld</li>
        <li>Een beeld waarin u evt. de as van uw dierbare kunt bewaren</li>
    </ul>
</ContactLayout>
