---
interface Props {
  title: string
  url: string
}

const {title, url} = Astro.props
---

<nav>
    <ol class="flex space-x-1 text-base">
        <li>
            <a href="/" class="text-accent hover:underline">Home</a>
        </li>
        <li>
            <span class="jw-breadcrumbs__separator" aria-hidden="true">»</span>
        </li>
        <li>
            <a href={`/${url}`} class="hover:text-accent hover:underline" aria-current="page">{title}</a>
        </li>
    </ol>
</nav>
