---
const {title, url} = Astro.props
---

<nav class="jw-breadcrumbs" aria-label="Kruimelpad">
    <ol>
        <li>
            <a href="/" class="jw-breadcrumbs__link">Home</a>
        </li>
        <li>
            <span class="jw-breadcrumbs__separator" aria-hidden="true">»</span><a href={`/${url}`}
                                                                                  class="jw-breadcrumbs__link jw-breadcrumbs__link--current"
                                                                                  aria-current="page">{title}</a>
        </li>
    </ol>
</nav>
