---
import GalleryImage from './GalleryImage.astro'

interface Props {
    imageUrls: string[]
}

const { imageUrls} = Astro.props
---

<div class="jw-tree-node jw-element jw-album-gallery jw-node-is-first-child">
    <div class="fotorama"
         data-allowfullscreen="true"
         data-fit="contain"
         data-width="100%"
         data-ratio="1.44"
         data-maxwidth="590"
         data-nav="thumbs"
         data-navposition="bottom"
         data-thumbheight="50"
         data-transition="slide"
         data-swipe="true"
         data-fotorama-fullscreen-generated="true">
        {
          imageUrls.map(imageUrl => <GalleryImage url={imageUrl} />)
        }
    </div>
</div>
