---
import EmblaCarousel from './EmblaCarousel'
import {getImage} from 'astro:assets'
import type {Image} from '../types/Image'
import type {ImageData } from '../types/ImageData'

interface Props {
    imageData: ImageData[]
}

const { imageData } = Astro.props

const imageMap = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.webp')

const images: Image[] = []
for (const { url, alt } of imageData) {
    const image = await getImage({src: imageMap[url](), format: 'webp', height: 400, densities: [1, 1.5]})
    const thumbnail = await getImage({src: imageMap[url](), format: 'webp', height: 50, densities: [1, 1.5]})

    images.push({
        url: image.srcSet.attribute,
        thumbnailUrl: thumbnail.srcSet.attribute,
        alt
    })
}
---

<section>
    <EmblaCarousel images={images} client:idle />
</section>
