---
import type {MenuItemProps} from '../types/MenuItemProps'

interface Props extends MenuItemProps {
  class?: string
}

const {isActive, name, url, class: className} = Astro.props
---

<li>
    <a class:list={['block',
      'w-full',
      'text-lg',
      'font-serif',
      'font-bold',
      'px-2',
      'br-5',
      'rounded-sm',
      'hover:bg-accent',
      'hover:text-primary',
      'mb-1',
      isActive ? 'bg-accent-opacity-10 text-accent' : 'text-secondary',
      className]}
       href={url}>
        <span>{name}</span>
    </a>
</li>
