---
interface Props {
    title: string
}

const {title} = Astro.props
---

<div class="jw-tree-node jw-element jw-image-text jw-node-is-first-child">
    <div class="jw-element-imagetext-text">
        <h1 class="jw-heading-200">{title}</h1>
    </div>
</div>
