---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Text from '../components/Text.astro'

interface Props {
  title: string
  description: string
  homeButtonText: string
}

const {
  title,
  description,
  homeButtonText
} = Astro.props
---

<Layout title={title}
        description={description}
        previewImageUrl="/src/assets/hout.webp">
    <Title class="mt-11.5" title={title}/>
    <Text>
        <slot/>
    </Text>
    <a href="/" class:list={[
      'inline-block',
      'py-2.5',
      'px-6',
      'cursor-pointer',
      'bg-primary',
      'hover:bg-primary-lighter',
      'text-secondary',
      'font-bold',
      'rounded-sm']}>{homeButtonText}</a>
</Layout>
